.idea
.vscode
.DS_Store

/var/cache/af/*
!/var/cache/af/.gitkeep

/var/cache/proxies/*
!/var/cache/proxies/.gitkeep

/var/log/*
!/var/log/.gitkeep

/var/xml/*.
!/var/xml/.gitkeep

/var/*.sqlite
/version*.txt
