<!--================Home Banner Area =================-->
<section class="banner_area ">
    <div class="banner_inner overlay d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-left">
                <div class="page_link">
                    <a href="/">Главная</a>
                    <a href="/{{ page.address }}">{{ page.title }}</a>
                </div>
                <h2>{{ page.title }}</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
