{% extends 'layout.twig' %}

{% set title = '0x12f' %}

{% block head %}
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto:400,400i,500" rel="stylesheet">

    <link rel="stylesheet" href="/resource/css/linearicons.css">
    <link rel="stylesheet" href="/resource/css/font-awesome.min.css">
    <link rel="stylesheet" href="/resource/css/bootstrap.css">
    <link rel="stylesheet" href="/resource/css/magnific-popup.css">
    <link rel="stylesheet" href="/resource/css/owl.carousel.css">
    <link rel="stylesheet" href="/resource/css/hexagons.min.css">
    <link rel="stylesheet" href="/resource/css/nice-select.css">
    <link rel="stylesheet" href="/resource/css/main.css">
{% endblock %}

{% block body %}
    <body>
    {% include "common/menu.twig" %}

    {% block bodyinner %}
        {% block page %}
            {% include "common/hero.twig" %}
            {#{% include "common/brands.twig" %}#}
            {% include "common/service.twig" %}
            {% include "common/productivity.twig" %}
            {#{% include "common/portfolio.twig" %}#}
            {#{% include "common/team.twig" %}#}
            {#{% include "common/guestbook.twig" %}#}
            {#{% include "common/cta.twig" %}#}
            {% include "common/blog.twig" %}
        {% endblock %}
    {% endblock %}

    {% include "common/footer.twig" %}

    <script src="/resource/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="/resource/js/vendor/popper.min.js"></script>
    <script src="/resource/js/vendor/bootstrap.min.js"></script>
    <script src="/resource/js/jquery.ajaxchimp.min.js"></script>
    <script src="/resource/js/jquery.magnific-popup.min.js"></script>
    <script src="/resource/js/parallax.min.js"></script>
    <script src="/resource/js/owl.carousel.min.js"></script>
    <script src="/resource/js/jquery.nice-select.min.js"></script>
    <script src="/resource/js/jquery.sticky.js"></script>
    <script src="/resource/js/hexagons.min.js"></script>
    <script src="/resource/js/jquery.counterup.min.js"></script>
    <script src="/resource/js/waypoints.min.js"></script>
    <script src="/resource/js/main.js"></script>
    </body>
{% endblock %}

