<!--================ Start Brand Area =================-->
<section class="brand-area">
    <div class="container-fluid">
        <div class="row justify-content-start">
            <div class="col-lg-6">
                <div class="brand-carousel owl-carousel">
                    <!-- single-brand -->
                    <div class="single-brand-item d-table">
                        <div class="d-table-cell">
                            <img src="/resource/img/brands/b1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Brand Area =================-->
