<!--================ Start CTA Area =================-->
<section class="cta-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <h2>Вам нужен сайт?</h2>
                <p>

                </p>
                <a href="#" class="primary-btn">Get Estimate for Free</a>
            </div>
            <img src="/resource/img/cta-bg-shape.png" alt="" class="cta-shape img-fluid">
        </div>
    </div>
</section>
<!--================ End CTA Area =================-->
