<!--================ Start CTA Area =================-->
<section class="cta-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <h2>Есть вопросы?</h2>
                <p>Напишите нам и мы с радостью ответим вам!</p>
                <a href="#" data-toggle="modal" data-target="#quiz" class="primary-btn">Написать</a>
            </div>
            <img src="/resource/img/cta-bg-shape.png" alt="" class="cta-shape img-fluid">
        </div>
    </div>
</section>
<!--================ End CTA Area =================-->

<div class="modal modal-message fade" id="quiz" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <i class="fa fa-close"></i>
                </button>

                <h2>Вопрос</h2>
                <p>Мы ответим вам очень скоро..</p>

                <form class="row quiz_form" action="/form/forma-zayavki" method="post" id="quizForm" novalidate="novalidate">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Ваше имя">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Ваш E-Mail">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea class="form-control" name="comment" id="comment" rows="3" placeholder="Ваш вопрос"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 text-right">
                        <button type="submit" value="submit" class="primary-btn">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--================ CTA Success and Error message Area =================-->
<div class="modal modal-message fade" id="success-quiz" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <i class="fa fa-close"></i>
                </button>
                <h2>Спасибо</h2>
                <p>Ваша анкета успешно отправлена!</p>
            </div>
        </div>
    </div>
</div>

<!-- Modals error -->
<div class="modal modal-message fade" id="error" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <i class="fa fa-close"></i>
                </button>
                <h2>Упс!</h2>
                <p>Что-то пошло как всегда..</p>
            </div>
        </div>
    </div>
</div>
<!--================End CTA Success and Error message Area =================-->
