<!--================ start footer Area  =================-->
<footer class="footer-area section_gap">
    <div class="container">
        <div class="row footer-top">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>WebSpace Engine</h6>
                    <p>Собственный сайт без компромиссов!</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Ссылки</h6>
                    <div class="row">
                        <ul class="col footer-nav">
                            <li><a href="/">Главная</a></li>
                            <li><a href="/portfolio">Проекты</a></li>
                            <li><a href="/requirements">Системные требования</a></li>
                        </ul>
                        <ul class="col footer-nav">
                            <li><a href="/blog">Блог</a></li>
                            <li><a href="/info">Информация</a></li>
                            <li><a href="/release">Релизы</a></li>
                        </ul>
                        <ul class="col footer-nav">
                            <li><a href="/about">О нас</a></li>
                            <li><a href="/contact">Контакты</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            {#<div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Рассылка</h6>
                    <p>Подпишитесь на рассылку наших новостей</p>
                    <div class="" id="mc_embed_signup">
                        <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
                            <div class="d-flex flex-row">
                                <input class="form-control" name="email" placeholder="Введите E-Mail" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Введите E-Mail'" required="" type="email">
                                <button class="click-btn btn btn-default">
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>#}
        </div>
    </div>
    <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-12">
                    <div>
                        <p class="footer-text m-0">
                            Сайт работает под управлением WebSpace Engine<br>
                            &copy; 0x12f.com <script>document.write(new Date().getFullYear());</script>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--================ End footer Area  =================-->
