<!--================ start banner Area =================-->
<section class="home-banner-area">
    <div class="container">
        <div class="row justify-content-end fullscreen">
            <div class="col-lg-6 col-md-12 home-banner-left d-flex fullscreen align-items-center">
                <div>
                    <h1 class="">
                        <span>WebSpace</span> Engine
                    </h1>
                    <p class="mx-auto mb-2">
                        Простая и многофункциональная система управления сайтом.<br>
                        Подходит для: визитки, блога, корпоративного сайта и интернет-магазина.
                    </p>

                    <a href="https://demo.site.0x12f.com" class="primary-btn" target="_blank">
                        Смотреть Демо <i class="fa fa-external-link"></i>
                    </a>
                    <small class="d-block pl-1 text-monospace font-italic mt-2">
                        <a href="https://demo.site.0x12f.com/cup" target="_blank">
                            Панель управления <i class="fa fa-external-link"></i>
                        </a> (логин и пароль: <code>demo</code>)
                    </small>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 no-padding home-banner-right d-flex fullscreen align-items-end">
                <img class="img-fluid" src="/resource/img/header-img.png" alt="">
            </div>
        </div>
    </div>
</section>
<!--================ End banner Area =================-->
