<!--================ start banner Area =================-->
<section class="home-banner-area">
    <div class="container">
        <div class="row justify-content-end fullscreen">
            <div class="col-lg-6 col-md-12 home-banner-left d-flex fullscreen align-items-center">
                <div>
                    <h1 class="">
                        <span>WebSpace</span> Engine
                    </h1>
                    <p class="mx-auto mb-40">Простая и многофункциональная система управления сайтом.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 no-padding home-banner-right d-flex fullscreen align-items-end">
                <img class="img-fluid" src="/resource/img/header-img.png" alt="">
            </div>
        </div>
    </div>
</section>
<!--================ End banner Area =================-->
