<!--================ Offcanvus Menu Area =================-->
<div class="side_menu">
    <div class="logo">
        <a href="/">
            WebSpace Engine
        </a>
    </div>
    <ul class="list menu-left">
        <li>
            <a href="/">Главная</a>
        </li>
        <li>
            <div class="dropdown">
                <button type="button" class="dropdown-toggle" data-toggle="dropdown">
                    Новости
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/blog">Блог</a>
                    <a class="dropdown-item" href="/info">Информация</a>
                    <a class="dropdown-item" href="/release">Релизы</a>
                </div>
            </div>
        </li>
        <li>
            <a href="/portfolio">Проекты</a>
        </li>
        <li>
            <div class="dropdown">
                <button type="button" class="dropdown-toggle" data-toggle="dropdown">
                    Информация
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/requirements">Системные требования</a>
                </div>
            </div>
        </li>
        <li>
            <a href="/about">О нас</a>
        </li>
        <li>
            <a href="/contact">Контакты</a>
        </li>
    </ul>
</div>
<!--================ End Offcanvus Menu Area =================-->

<!--================ Canvus Menu Area =================-->
<div class="canvus_menu">
    <div class="container">
        <div class="toggle_icon" title="Menu Bar">
            <span></span>
        </div>
    </div>
</div>
<!--================ End Canvus Menu Area =================-->
