<!--================ Start Productivity Area =================-->
<section class="video-sec-area">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-6 video-left justify-content-center align-items-center d-flex"></div>
            <div class="col-lg-5 offset-lg-1 video-right">
                <h1>Результаты трудов</h1>
                {#<p></p>#}

                <div class="counter_area" id="project_counter">
                    <!-- single counter -->
                    <div class="single_counter">
                        <div class="info-content">
                            <h4><span class="counter">9</span>+</h4>
                            <p>Месяцев разработки</p>
                        </div>
                    </div>
                    <!-- single counter -->
                    <div class="single_counter">
                        <div class="info-content">
                            <h4><span class="counter">755.8</span>+</h4>
                            <p>Килобайт кода</p>
                        </div>
                    </div>
                    <!-- single counter -->
                    <div class="single_counter">
                        <div class="info-content">
                            <h4><span class="counter">30</span>+</h4>
                            <p>Сайтов</p>
                        </div>
                    </div>
                    <!-- single counter -->
                    <div class="single_counter">
                        <div class="info-content">
                            <h4><span class="counter">2.3</span>kk+</h4>
                            <p>Обработаных заказов</p>
                        </div>
                    </div>
                </div>
            </div>
            <img class="img-fluid video-shape" src="/resource/img/video-bg-shape.png" alt="">
        </div>
    </div>
</section>
<!--================ End Productivity Area =================-->
