<!--================ Start Service Area =================-->
<section class="service-area section-gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 text-center">
                <div class="section-title">
                    {#<p>Простая платформа для контента</p>#}
                    <h1>Почему <span>WebSpace</span> Engine?</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single-features -->
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-service">
                    <div class="service-icon">
                        <img src="/resource/img/service/shape1.png" alt="">
                        <img class="s-icon" src="/resource/img/service/icon2.png" alt="">
                        <img class="clr-icon" src="/resource/img/service/clr-icon2.png" alt="">
                    </div>
                    <div class="service-content">
                        <h4>Self-hosted</h4>
                        <p>
                            Держите полный контроль. Ваши данные всегда будут и будут вашими.
                        </p>
                    </div>
                </div>
            </div>
            <!-- single-features -->
            <div class="col-lg-3 offset-lg-1 col-sm-6 col-md-6">
                <div class="single-service">
                    <div class="service-icon">
                        <img src="/resource/img/service/shape1.png" alt="">
                        <img class="s-icon" src="/resource/img/service/icon2.png" alt="">
                        <img class="clr-icon" src="/resource/img/service/clr-icon2.png" alt="">
                    </div>
                    <div class="service-content">
                        <h4>Open Source</h4>
                        <p>
                            Мы <i class="fa fa-heart" aria-hidden="true"></i> Open Source и WSE - наш вклад,
                            которым мы хотели бы поделиться с миром.
                        </p>
                    </div>
                </div>
            </div>
            <!-- single-features -->
            <div class="col-lg-3 offset-lg-1 col-sm-6 col-md-6">
                <div class="single-service">
                    <div class="service-icon">
                        <img src="/resource/img/service/shape1.png" alt="">
                        <img class="s-icon" src="/resource/img/service/icon2.png" alt="">
                        <img class="clr-icon" src="/resource/img/service/clr-icon2.png" alt="">
                    </div>
                    <div class="service-content">
                        <h4>Клиенты полюбят</h4>
                        <p>
                            WSE поставляется с интуитивно понятным дизайном и UX, что делает управление контентом проще.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Service Area =================-->
